.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-list__item {
    display: flex;
    flex-flow: column wrap;
    flex-basis: calc((100% - 90px)/4);
}

.benefits-list__wrapper {
    @include align;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits-list__icon {
    width: 70px;
    height: 70px;
}

.benefits-list__item-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefits-list__item-description {
    line-height: 1.71;
}