.page-footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer-container {
    display: flex;
    flex-direction: column;
}

.adress-social-container {
    @include align (flex, baseline, space-between)
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
}

.social-invite-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color-dark-bcgr);
    margin-bottom: 20px;
}