.page-header {
    padding-top: 24px;
    padding-bottom: 24px;

    border-bottom: 1px solid var(--border-color);
    
    &-container {
    display: flex;
    align-items: center;
}
}



.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts__email {
    margin-right: 50px;
}

.header-contacts__email,
.header-contacts__phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--general-text-color);
    transition: color var(--trans-dur-t-func);

    &:hover,&:focus {
        color: var(--accent-color);
        }
}

.header-contacts__envelope-icon {

    width: 16px;
    height: 12px;
    fill: var(--general-text-color);
    margin-right: 10px;
    transition: fill var(--trans-dur-t-func);

    &:hover, &:focus {
        fill: var(--accent-color);
    }
    .header-contacts__email:hover &,
    .header-contacts__email:focus & {
        fill: var(--accent-color)
    }
}

.header-contacts__smartphone-icon {
    width: 10px;
    height: 16px;
    fill: var(--general-text-color);
    margin-right: 10px;
    transition: fill var(--trans-dur-t-func);

    &:hover, &:focus {
        fill: var(--accent-color);
    }
        
    .header-contacts__phone-number:hover &,
    .header-contacts__phone-number:focus & {
        fill: var(--accent-color);
    }
}
