.page-header {
    padding-top: 24px;
    padding-bottom: 24px;

    border-bottom: 1px solid var(--border-color);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.contact-email {
    margin-right: 50px;
}

.contact-email,
.contact-phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--general-text-color);
    transition: color var(--trans-dur-t-func);
}

.contact-email:hover,
.contact-email:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}

.envelope-icon {

    width: 16px;
    height: 12px;
    fill: var(--general-text-color);
    margin-right: 10px;
    transition: fill var(--trans-dur-t-func);
}

.smartphone-icon {
    width: 10px;
    height: 16px;
    fill: var(--general-text-color);
    margin-right: 10px;
    transition: fill var(--trans-dur-t-func);
}

.contact-email:hover .envelope-icon,
.contact-email:focus .envelope-icon,
.contact-phone-number:hover .smartphone-icon,
.contact-phone-number:hover .smartphone-icon {
    fill: var(--accent-color);
}