.hero {
    background-color: var(--background-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgr-img.jpg");
}

.hero-container {
    @include align;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}