.modal-open-btn {
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color-dark-bcgr);

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background: var(--btn-bcgr-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}